{% extends "base.html" %}
{% block title %}States{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12 jumbotron text-center">
    <h1>Mexico COVID-19 Dashboard</h1>
    <p>Coronavirus pandemic summary by state</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="well">
      <h5>States</h5>
      <hr>
      <p>Select the state you are interested in.</p>
      <select id="selDataset" onchange="optionChanged(this.value)"></select>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">State Information</h3>
      </div>
      <div id="sample-metadata" class="panel-body"></div>
    </div>
  </div>
  <div class="col-md-8">
    <div id="gauge"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="bubble" style="vertical-align:middle;margin:90px 0px"></div>
  </div>
</div>
</div>
{% endblock %}
{% block apps %}
<script src="../static/js/app.js"></script>
{% endblock %}